/*.navbar-inverse {
	color: #999999;
}*/

body {
  background-color: rgba(245, 245, 245, 1);
  background-image: url("../img/burlap2.jpg");
  color: rgba(71, 65, 52, 1);
}

h2:before {
	content: '-';
	padding: 0 45px 0 0;
}

h2:after {
	content: '-';
	padding: 0 0 0 45px;
}

.navbar .brand {
    /*max-height: 40px;
    overflow: visible;
	  width: 60px;
	  margin-left: auto;
	  margin-right:;
	  float: none;*/
	  margin-top: -90px;
	  margin-left: auto; 
	  margin-right: auto;
		position:absolute;
		z-index:100;
		width:300px;
}


#logoImg img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.nav {
	max-height: 20px;
}

.navbar .container {
	margin-left: 310px;
}

.navbar-inverse .navbar-inner {
	background-color: rgba(148, 140, 123, 1);
	border: none;
}
	/*background-color: rgba(148, 140, 123, .7);*/

.navbar-inverse .nav .active > a {
	background-color: rgba(224, 220, 209, .7);
	color: #0C0E0E;
	border: rgba(0, 0, 0, .2);
}

.navbar-inverse .nav > li > a {
	color: #ECEDF0;
}

.navbar-inverse .brand {
	color: #ECEDF0;
}

.navbar {
	height: 50px;
	margin-top: 90px;
}

#containColor {
	background-color: rgba(224, 220, 209, .9);
}

.mainContent h1 {
	font-size: 2.5em;
	text-align: center;
	color: rgba(45, 55, 71, 1);
}

.mainContent h2 {
	font-size: 2em;
	color: rgba(45, 55, 71, 1);
	margin-top: 20px;
}

.mainContent{
	padding: 20px;
}

.features {
	margin-right: 20px;
	margin-left: 30px;
}

.feature p {
	padding: 10px;
}

.well {
	margin-left: 0 !important;
	background-color: rgba(224, 220, 209, .1);
	margin-bottom:  0;
	border-top:  1px solid rgba(0, 0, 0, .3);
	text-align: center;
	border-right: 1px solid rgba(0, 0, 0, .3);
	border-left: none;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.img-polaroid {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
	padding: 2px;
	background-color: rgba(255, 255, 255, .5);
}

#footer {
	border-top: 1px solid rgba(0, 0, 0, .3);
	margin-top: 30px;
}

#footer p {	
	padding: 10px 10px;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, .3);
  border-bottom: none;
}

.icon-5x {
	font-size: 8em;
}

#last {
	border-right: none;
}

.featureP {
	padding-top: 20px;
}

.wrapper {
	max-width: 800px;
	padding: 0 40px;
	margin: 0 auto;
	text-align: center; 
	font-size: 1.2em;
}

#map {
	background-color: rgba(148, 140, 123, 1);
	margin-top: 20px;
	padding: 5px 0 50px 0;
}

#map h2 {
	color: rgba(236, 237, 240, .7);
}