/*.navbar-inverse {
	color: #999999;
}*/

#punk-background-image {
display: block;
position: relative !important; 
top: 0;
left: 0;
right: 0;
height: 400px;
width: 100%;
left: 0;
margin: 0;
padding: 0;
text-align: center;
/*z-index: -1;*/
overflow: hidden;
border-bottom: 40px solid rgba(148, 140, 123, 1);
}

#punk-background-image .a-area-slideshow-bg-item, #punk-background-image video, #punk-background-image img.placeholder {
display: block;
position: absolute;
min-width: 100%;
/*min-height: 100%;*/
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: 0;
padding: 0;
transition: opacity .5s;
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
}

.imageText {
	font-family: 'marvel',sans-serif;

	padding: 50px 50px;
	position: absolute;
	color: rgba(255, 255, 255, 1);
	/*background-color: rgba(0, 0, 0, .2);*/
}

.imageText h1 {
	font-size: 27px;
	font-weight: 300;
	line-height: 1em;
	text-align: right;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.imageText p {
	padding-top: 25px;
	font-size: em;
	font-weight: lighter;
	text-align: right;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

body {
  background-color: rgba(245, 245, 245, 1);
  background-image: url("../img/burlap2.jpg");
  color: rgba(71, 65, 52, 1);
  font-family: "Verdana", Helvetica, Arial, sans-serif;
}

h2:before {
	content: '-';
	padding: 0 45px 0 0;
}

h2:after {
	content: '-';
	padding: 0 0 0 45px;
}

.navbar .brand {
    /*max-height: 40px;
    overflow: visible;
	  width: 60px;
	  margin-left: auto;
	  margin-right:;
	  float: none;*/
	  margin-top: -90px;
	  margin-left: auto; 
	  margin-right: auto;
		position:absolute;
		z-index:100;
		width:300px;
}


#logoImg img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.nav {
	max-height: 20px;
	font-size: 1.2em;
}

.navbar .container {
	margin-left: 310px;
}

.navbar-inverse .navbar-inner {
	background-color: rgba(148, 140, 123, 1);
	/*border-bottom: 1px solid black;*/
	border-top: none;
}
	/*background-color: rgba(148, 140, 123, .7);*/

.navbar-inverse .nav .active > a {
	background-color: rgba(224, 220, 209, .3);
	color:  #ECEDF0;
	border: rgba(0, 0, 0, .2);
	/*text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
}

.navbar-inverse .nav > li > a {
	color: #ECEDF0;
	/*text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
}

.navbar-inverse .brand {
	color: #ECEDF0;
}

.navbar {
	/*height: 50px;*/
	margin-top: 70px;
	margin-bottom: 0px;
}

#containColor {
	border: 8px solid rgba(116, 11, 18, .9);
	border-top: none;
	border-bottom: none;
	background-color: rgba(224, 220, 209, 1);
}

.mainContent h1 {
	font-family: "Mensch";
	font-size: 2.5em;
	text-align: center;
	color: rgba(212, 69, 33, 1);
}

.mainContent h2 {
	font-size: 3em;
	color: rgba(45, 55, 71, 1);
	margin-top: 20px;
	font-family: "Mensch";
	padding-bottom: 25px;
}	

.mainContent{
	padding: 20px;
	/*margin-top: 650px;*/
}

.features {
	margin-right: 20px;
	margin-left: 30px;
}

.feature p {
	padding: 10px;
}

.well {
	margin-left: 0 !important;
	background-color: rgba(224, 220, 209, .1);
	margin-bottom:  0;
	border-top:  1px solid rgba(0, 0, 0, .3);
	text-align: center;
	border-right: 1px solid rgba(0, 0, 0, .3);
	border-left: none;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.img-polaroid {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: none;
	padding: 2px;
	background-color: rgba(255, 255, 255, .5);
}

#footer {
	border-top: 1px solid rgba(0, 0, 0, .3);
	margin-top: 30px;
}

#footer p {	
	padding: 10px 10px;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, .3);
  border-bottom: none;
}

.icon-5x {
	font-size: 8em;
}

#last {
	border-right: none;
}

.featureP {
	padding-top: 20px;
}

.wrapper {
	/*max-width: 800px;*/
	/*padding: 0 40px;*/
	/*margin: 0 auto;*/
	font-size: 1.2em;
}

#map {
	background-color: rgba(148, 140, 123, 1);
	margin-top: 20px;
	padding: 5px 0 50px 0;
}

#map h2 {
	color: rgba(236, 237, 240, .7);
}