h1:before {
    content: '-';
    padding: 0 45px 0 0;
}

h1:after {
    content: '-';
    padding: 0 0 0 45px;
}

@font-face {
    font-family: 'anyoldicon';
    src:url('../fonts/anyoldicon/anyoldicon.eot');
    src:url('../fonts/anyoldicon/anyoldicon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/anyoldicon/anyoldicon.woff') format('woff'),
        url('../fonts/anyoldicon/anyoldicon.ttf') format('truetype'),
        url('../fonts/anyoldicon/anyoldicon.svg#anyoldicon') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/* General grid styles */
.cbp-ig-grid {
    list-style: none;
    padding: 0 0 50px 0;
    margin: 0;
}
 
/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
    content: " "; 
    display: table; 
}
 
.cbp-ig-grid:after { 
    clear: both; 
}
 
/* grid item */
.cbp-ig-grid div {
    width: 25%;
    float: left;
    height: 420px;
    text-align: center;
    /*border-top: 1px solid rgba(0, 0, 0, .1);*/
}
 
/* we are using a combination of borders and box shadows to control the grid lines */
.cbp-ig-grid div:nth-child(-n+3){
    border-top: none;
}
 
.cbp-ig-grid div:nth-child(1) {
    box-shadow: 1px 0 0 rgba(0, 0, 0, .1);
}

.cbp-ig-grid div:nth-child(2) {
    box-shadow: 1px 0 0 rgba(0, 0, 0, .1);
}

.cbp-ig-grid div:nth-child(3) {
    box-shadow: 1px 0 0 rgba(0, 0, 0, .1);
}
 
/* anchor style */
.cbp-ig-grid div > a {
    display: block;
    height: 100%;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}
 
/* the icon with pseudo class for icon font */
.cbp-ig-icon {
    padding: 30px 0 0 0;
    display: block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
 
.cbp-ig-icon:before {
    font-family: 'anyoldicon';
    font-size: 14em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
 
.cbp-ig-icon-shoe:before {
    content: "\e000";
}
 
.cbp-ig-icon-ribbon:before {
    content: "\e001";
}
 
.cbp-ig-icon-milk:before {
    content: "\e002";
}
 
.cbp-ig-icon-whippy:before {
    content: "\e003";
}
 
.cbp-ig-icon-spectacles:before {
    content: "\e004";
}
 
.cbp-ig-icon-doumbek:before {
    content: "\e007";
}
 
/* title element */
.cbp-ig-grid .cbp-ig-title {
    margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 2em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
 
.cbp-ig-grid .cbp-ig-title:before {
    content: '';
    position: absolute;
    background: #000000;
    opacity: .3;
    width: 160px;
    height: 6px;
    top: 0px;
    left: 50%;
    margin: -10px 0 0 -80px;
    -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
    -moz-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
}
 
.cbp-ig-grid .cbp-ig-category {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transform: translateY(10px);
    -moz-transform: -moz-translateY(10px);
    -ms-transform: -ms-translateY(10px);
    transform: translateY(10px);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    -webkit-transition: transform 0.3s, opacity 0.2s;
}
 
.cbp-ig-grid div:hover .cbp-ig-category,
.touch .cbp-ig-grid div .cbp-ig-category {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
 
/* Hover styles */
 
.cbp-ig-grid div > a:hover {
    background: rgba(148, 140, 123, 1);
}
 
.cbp-ig-grid div > a:hover .cbp-ig-icon {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}
 
.cbp-ig-grid div > a:hover .cbp-ig-icon:before,
.cbp-ig-grid div > a:hover .cbp-ig-title {
    color: #fff;
}
 
.cbp-ig-grid div > a:hover .cbp-ig-title {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}
 
.cbp-ig-grid div > a:hover .cbp-ig-title:before {
    background: #fff;
    margin-top: 80px;
}
 
 
@media screen and (max-width: 62.75em) {
    .cbp-ig-grid div {
        width: 50%;
    }
 
    /* reset the grid lines */
    .cbp-ig-grid div:nth-child(-n+3){
        border-top: 1px solid #ddd;
    }
 
    .cbp-ig-grid div:nth-child(3n-1),
    .cbp-ig-grid div:nth-child(3n-2) {
        box-shadow: none;
    }
 
    .cbp-ig-grid div:nth-child(-n+2){
        border-top: none;
    }
 
    .cbp-ig-grid div:nth-child(2n-1) {
        box-shadow: 1px 0 0 #ddd;
    }
}
 
@media screen and (max-width: 41.6em) { 
    .cbp-ig-grid div {
        width: 100%;
    }
 
    .cbp-ig-grid div:nth-child(-n+2){
        border-top: 1px sodivd #ddd;
    }
 
    .cbp-ig-grid div:nth-child(2n-1) {
        box-shadow: none
    }
 
    .cbp-ig-grid div:first-child {
        border-top: none;
    }
}
 
@media screen and (max-width: 25em) { 
    .cbp-ig-grid {
        font-size: 80%;
    }
 
    .cbp-ig-grid .cbp-ig-category {
        margin-top: 20px;
    }
}

i {
    color: rgba(0, 0, 0, .5);
}

.accordion-group {
    border: none;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: rgba(148, 140, 123, 1);
    color: rgba(236, 237, 240, 1);
}

.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {    
    color: rgba(0, 0, 0, 1);
}

/*@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome/fontawesome.eot');
    src:url('../fonts/fontawesome/fontawesome.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontawesome/fontawesome.woff') format('woff'),
        url('../fonts/fontawesome/fontawesome.ttf') format('truetype'),
        url('../fonts/fontawesome/fontawesome.svg#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
 
/* Main container */
.cbp-vm-switcher {
    padding: 20px;
    /*border: 3px solid #47a3da;*/
}
 
/* options/select wrapper with switch anchors */
.cbp-vm-options {
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 3px solid #47a3da;
}
 
.cbp-vm-options a {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    color: #d0d0d0;
    margin: 2px;
}
 
.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
    color: #47a3da;
}
 
.cbp-vm-options a:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
}
 
/* General style of switch items' list */
 
.cbp-vm-switcher ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
/* Clear eventual floats */
/*.cbp-vm-switcher ul:before, 
.cbp-vm-switcher ul:after { 
    content: " "; 
    display: table; 
}*/
 
/*.cbp-vm-switcher ul:after { 
    clear: both; 
}*/
 
.cbp-vm-switcher ul li {
    display: block;
    position: relative;
}
 
.cbp-vm-image {
    display: block;
    margin: 0 auto;
    text-align: center;
}
 
.cbp-vm-image img {
    display: inline-block;
    max-width: 100%;
}
 
.cbp-vm-title {
    margin: 0;
    padding: 0;
}
 
.cbp-vm-price {
    color: rgba(148, 140, 123, 1);
}
 
.cbp-vm-add {
    color: #fff;
    background: rgba(148, 140, 123, 1);
    padding: 10px 15px;
    border-radius: 2px;
    margin: 20px 0 0;
    display: inline-block;
    transition: background 0.2s;
}
 
.cbp-vm-add:hover {
    color: #fff;
    background: rgba(71, 65, 52, .7);
    text-decoration: none;
}
 
.cbp-vm-add:before {
    margin-right: 5px;
}
 
/* Common icon styles */
.cbp-vm-icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
 
/*.cbp-vm-grid:before {
    content: "\f00a";
}*/
 
.cbp-vm-list:before {
    content: "\f00b";
}
 
.cbp-vm-add:before {
    /*content: "\f055";*/
}
 
/* Individual view mode styles */
 
/* Large grid view */
.cbp-vm-view-grid ul {
    text-align: center;
}
 
/*.cbp-vm-view-grid ul li {*/
/*    width: 33%;
    text-align: center;
    padding: 25px;
    margin: 20px 0 0;
    display: inline-block;*/
    /*min-height: 420px;*/
/*    vertical-align: top;*/
/*}*/
 
/*.cbp-vm-view-grid .cbp-vm-title {
    font-size: 2em;
}
 
.cbp-vm-view-grid .cbp-vm-details {
    max-width: 300px;
    min-height: 70px;
    margin: 0 auto;
} 
 
.cbp-vm-view-grid .cbp-vm-price {
    margin: 10px 0;
    font-size: 1.5em;
}*/
 
 
/* List view */
.cbp-vm-view-list li {
    padding: 20px 0;
    white-space: nowrap;
}
 
.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-price,
.cbp-vm-view-list .cbp-vm-add {
    display: inline-block;
    vertical-align: middle;
}
 
.cbp-vm-view-list .cbp-vm-image {
    width: 10%;
}
 
.cbp-vm-view-list .cbp-vm-title {
    font-size: 1.3em;
    padding: 0 10px;
    white-space: normal;
    width: 40%;
}
 
.cbp-vm-view-list .cbp-vm-price {
    font-size: 1.2em;
    width: 19%;
}
 
.cbp-vm-view-list .cbp-vm-details {
    width: 20%;
    padding: 0 15px;
    overflow: hidden;
    white-space: normal;
}
 
.cbp-vm-view-list .cbp-vm-add {
    margin: 0;
}
 
@media screen and (max-width: 66.7em) {
    .cbp-vm-view-list .cbp-vm-details  {
        width: 20%;
    }
} 
 
@media screen and (max-width: 57em) {
    .cbp-vm-view-grid ul li {
        width: 49%;
    }
}
 
@media screen and (max-width: 47.375em) {
    .cbp-vm-view-list .cbp-vm-image {
        width: 10%;
    }
 
    .cbp-vm-view-list .cbp-vm-title {
        width: auto;
    }
 
    .cbp-vm-view-list .cbp-vm-details  {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
 
    .cbp-vm-view-list .cbp-vm-add  {
        margin: 10px;
    }
}
 
@media screen and (max-width: 40.125em) {
    .cbp-vm-view-grid ul li {
        width: 100%;
    }
}