<html lang="en"><head>
    <meta charset="utf-8">
    <title>The Harvest Coffeeehouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../flatstrap-master/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../flatstrap-master/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="../css/application.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/coffeeFavicon.png">
<!--     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../flatstrap-master/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../flatstrap-master/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../flatstrap-master/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../flatstrap-master/assets/ico/apple-touch-icon-57-precomposed.png"> -->
  <style type="text/css"></style></head>

  <body>
    <div class='row-fluid'>
      <div class="container" id='containColor'>        
        <div class="navbar navbar-inverse">
          <a class="brand" href="#"><img src="img/logoNOSHADOW.png"></a>
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="/?page=1">Home</a></li>
                  <li><a href="#about">Contact Us</a></li>                    
                  <li><a href="/?page=2">Shop</a></li>                  
                  <li><a href="#contact">Download Our Menu</a></li>  
                  <li><a href="#contact" role="button" data-toggle="modal">Contact</a></li>                
                </ul>
                <ul class="nav pull-right">
                  <li>
                    <a href="https://www.facebook.com/theharvestcoffeehouse" target="_blank"><i class="icon-facebook-sign"></i> Facebook</a>
                 </li>
                </ul>
                <!-- Modal Form -->
                <div id="contact" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Contact Us</h3>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal" name="contactForm" method="post" action="includes/emailForm.php">
                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="Email">Email:</label>
                      <div class="controls">
                      <input id="email" name="email" type="text" placeholder="" class="input-large">
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="name">Name:</label>
                      <div class="controls">
                      <input id="name" name="name" type="text" placeholder="" class="input-large">
                      
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="phoneNumber">Phone Number:</label>
                      <div class="controls">
                      <input id="phoneNumber" name="phoneNumber" type="text" placeholder="" class="input-large">
                      
                      </div>
                    </div>

                    <!-- Textarea -->
                    <div class="control-group">
                      <label class="control-label" for="comment">Comment/Question</label>
                      <div class="controls">                     
                      <textarea id="comment" name="comment"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                    </form>
                  </div>          
                </div>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <div id="punk-background-image">
          <div class="span6 imageText">
            <h1 class="text-center">A MULTI-PURPOSE COFFEE SHOP</h1>
            <p class="wrapper lead text-center">We are a full-service coffeehouse, used bookstore, live music venue, Wi-Fi hotspot, and local art gallery. We feature a wide variety of fresh-roasted flavored, blends, and origin coffees. Our coffee is available for purchase at our store in half lb. or full lb. sizes, and can be purchased whole bean, or we will be happy to grind it for you. We also carry a selection of our own special label pre-packaged coffees.</p>
          </div>
        </div>
        




        <div class="container">
        <div class="mainContent span12">
          <h2 class="text-center">What we have to offer</h2>
          <div class="row-fluid features">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <div class="well span4">
                    <!-- <img src="img/backView.jpg" alt="" class="img-polaroid"> -->            
                    <i class="icon-coffee icon-5x "></i>                
                    <p class='featureP'>We offer a wide variety of specialty coffee drinks such as Mochas, Lattes, Cappuccinos, Americanos, Smoothies, Frappe, Chai Tea, Loose leaf or bagged Tea, and many of our own custom creations such as our famous Candy Bar Mocha, Bavarian Breve, French Kiss and many, many more!</p>
                  </div>            
                  <div class="well span4" >
                    <!-- <img src="img/backView.jpg" alt="" class="img-polaroid"> -->            
                    <i class="icon-signal icon-5x "></i>
                    <p class='featureP'>The Harvest Coffeehouse offers free Wi-Fi access to our customers. If you need a place just to stop and check your e-mail, or spend a few hours working on that online college course we are your place!</p>
                  </div>
                  <div class="well span4" id="last">
                    <!-- <img src="img/backView.jpg" alt="" class="img-polaroid"> -->            
                    <i class="icon-calendar icon-5x "></i>
                    <p class='featureP'>The Harvest Coffeehouse is a great place to plan your next event. Here you can fill out an application for your event and we will be in contact with you to help you set up your specific occassion.</p>
                  </div>
                </div>
                <div class="item">
                  <div class="well span4">
                    <!-- <img src="img/backView.jpg" alt="" class="img-polaroid"> -->            
                    <i class="icon-book icon-5x "></i>                
                    <p class='featureP'>We have a large bookshelf filled with used books available for purchase or simply to enjoy while sitting on one of our comfy couches sipping a freshly-made Cappuccino, Espresso, or hot tea.</p>
                  </div>            
                  <div class="well span4" >
                    <!-- <img src="img/backView.jpg" alt="" class="img-polaroid"> -->            
                    <i class="icon-music icon-5x "></i>
                    <p class='featureP'>The Harvest Coffeehouse is gaining a reputation as a place to see some of the best live music in the region. We regularly bring in some of the best talent from local artists, throughout the State of Michigan and beyond. We feature Acoustic, Jazz, Folk, Blues, Rock, and Christian music on most Friday and Saturday nights.</p>
                  </div>
                  <div class="well span4" id="last">
                    <!-- <img src="img/backView.jpg" alt="" class="img-polaroid"> -->            
                    <i class="icon-shopping-cart icon-5x "></i>
                    <p class='featureP'>Soon we will have a shop set up that will allow you to buy your favorite merchandise that the Harvest Coffeehouse has to offer all from the comfort of your home.</p>
                  </div>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
              </ol>
              <!-- Carousel nav -->
              <a class="nextCarousel btn left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="nextCarousel btn right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>

            <!-- <div class="well span4">                        
                <i class="icon-coffee icon-5x "></i>                
                <p class='featureP'>We offer a wide variety of specialty coffee drinks such as Mochas, Lattes, Cappuccinos, Americanos, Smoothies, Frappe, Chai Tea, Loose leaf or bagged Tea, and many of our own custom creations such as our famous Candy Bar Mocha, Bavarian Breve, French Kiss and many, many more!</p>
            </div>            
            <div class="well span4" >               
                <i class="icon-signal icon-5x "></i>
                <p class='featureP'>The Harvest Coffeehouse offers free Wi-Fi access to our customers. If you need a place just to stop and check your e-mail, or spend a few hours working on that online college course we are your place!</p>
            </div>
            <div class="well span4" id="last">                
                <i class="icon-book icon-5x "></i>
                <p class='featureP'>The Harvest Coffeehouse is a great place to come hang out with friends, family, business associates, or to just come and spend some quality “me” time all by yourself. We have a large bookshelf filled with used books available for purchase or simply to enjoy while sitting on one of our comfy couches sipping a freshly-made Cappuccino, Espresso, or hot tea.</p>
            </div> -->
          </div>
          <div id='map'>
            <h2 class="text-center">Map to Harvest</h2>
            <p class="lead text-center">Address: 626 S. Main St. Frankenmuth, MI 48734</p>
            <div class="row-fluid">

              <div class="span12">
                  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=626+S.+Main+St.+Frankenmuth,+MI+48734&aq=&sll=43.436832,-84.02581&sspn=0.206169,0.393791&ie=UTF8&hq=&hnear=626+S+Main+St,+Frankenmuth,+Michigan+48734&t=m&z=14&ll=43.328254,-83.740154&iwloc=near&output=embed"></iframe>
              </div>
              
               <!--  <div class="span4">
                <h2>Snail mail</h2>
                <address>
                  <strong>Hythe Window Cleaning</strong><br>
                  15 Springfield Way<br>
                  Hythe<br>
                  Kent<br>
                  United Kingdon<br>
                  CT21 5SH<br>
                  <abbr title="Phone">P:</abbr> 01234 567 890
                </address>
              </div> -->
            </div>
          </div>
        </div>          
        </div>
        <footer id='footer'>          
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>If you have any questions, please contact us at <a href="mailto:grace_christian_defenders@yahoo.com?subject=Website Inquiry">theHarvest@gmail.com</a> or call us at 989-652-2203</p>
        </footer> 
      </div><!-- /container -->
          
                      
    </div>  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="../flatstrap-master/assets/js/jquery.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-transition.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-alert.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-modal.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-dropdown.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-scrollspy.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-tab.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-tooltip.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-popover.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-button.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-collapse.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-carousel.js"></script>
    <script src="../flatstrap-master/assets/js/bootstrap-typeahead.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>

    <script>
      $("#punk-background-image").backstretch("img/homePage.gif");

      $(function() {
         var maxHeight=0;
         $('.span4').each(function(){
            if($(this).height()>maxHeight) {
             maxHeight=$(this).height();
            }
         });

          $('.span4').height(maxHeight);
      });
    </script>

  

</body>
</html>